* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100dvh;
    background: rgb(6, 52, 14);
    background: linear-gradient(
        135deg,
        rgba(6, 52, 14, 1) 11%,
        rgba(13, 134, 43, 1) 41%,
        rgba(0, 212, 255, 1) 74%,
        rgba(0, 61, 255, 1) 95%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}
